<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Platos favoritos</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="main">
    <div class="login"><a href="">
        <img src="user.webp" alt="Личный кабинет"></br>
        <span>Вход/Регистрация</span></a>
    </div>
    <h1>Platos favoritos</h1>
    <p th:text="'Привет, ' + ${name} + '!'" />
    <nav>
        <li><a href="menu.html">Меню</a></li>
        <li><a href="cart.html">Корзина</a></li>
        <li><a href="contact.html">Контакты</a></li>
        <li><a href="admin.html">Администратору</a></li>
    </nav>
    <img alt="" width="940" height="626" src="images/img_paella.jpg">
</div>
</body>
</html>